<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/derekanderson/Downloads/58df37d7-1fbd-4e71-8454-82a511605d43.png</key>
	<data>
	Ym9vayQDAAAAAAQQMAAAAGY2ZJpz41aZ2bmGIrfETKskwOOb1eEjHEt4xyAKD/uoFAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGRlcmVrYW5kZXJzb24A
	AAAJAAAAAQEAAERvd25sb2FkcwAAACgAAAABAQAANThkZjM3ZDctMWZiZC00ZTcxLTg0
	NTQtODJhNTExNjA1ZDQzLnBuZxAAAAABBgAAEAAAACAAAAA4AAAATAAAAAgAAAAEAwAA
	L0MAAAAAAAAIAAAABAMAAPA3BAAAAAAACAAAAAQDAAAjOAQAAAAAAAgAAAAEAwAA44dz
	AAAAAAAQAAAAAQYAAJQAAACkAAAAtAAAAMQAAAAIAAAAAAQAAEHHWf4mMYiXGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
	5wAAAAgAAAAABAAAQcc4BdKAAAAkAAAAAQEAADQ3QjA1NzlBLUYxOEMtNDRGNi04NTcz
	LTg4NDREMzMxQjEzQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAAAvAAAAAQEAAE5TVVJMQm9va21hcmtRdWFyYW50aW5lTW91bnRl
	ZE5ldHdvcmtWb2x1bWVzS2V5ANgAAAD+////AQAAAAAAAAARAAAABBAAAHwAAAAAAAAA
	BRAAANQAAAAAAAAAEBAAAPwAAAAAAAAAQBAAAOwAAAAAAAAAAiAAAMgBAAAAAAAABSAA
	ADgBAAAAAAAAECAAAEgBAAAAAAAAESAAAHwBAAAAAAAAEiAAAFwBAAAAAAAAEyAAAGwB
	AAAAAAAAICAAAKgBAAAAAAAAMCAAANQBAAAAAAAAAcAAABwBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAACwBAAAAAAAAENAAAAQAAAAAAAAA3AEAgNQBAAAAAAAA
	</data>
	<key>/Users/derekanderson/Library/Containers/com.TechSmith.Snagit2021/Data/tmp/2025-10-30_15-54-41.png</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAABrkqvOZMZ7Ws9itVYypgKMssW1qTpspym5S74dRBO5+rAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGRlcmVrYW5kZXJzb24A
	AAAHAAAAAQEAAExpYnJhcnkACgAAAAEBAABDb250YWluZXJzAAAYAAAAAQEAAGNvbS5U
	ZWNoU21pdGguU25hZ2l0MjAyMQQAAAABAQAARGF0YQMAAAABAQAAdG1wABcAAAABAQAA
	MjAyNS0xMC0zMF8xNS01NC00MS5wbmcAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAXAAA
	AHwAAACIAAAAlAAAAAgAAAAEAwAAL0MAAAAAAAAIAAAABAMAAPA3BAAAAAAACAAAAAQD
	AAD3NwQAAAAAAAgAAAAEAwAAgjkEAAAAAAAIAAAABAMAAOhvGgAAAAAACAAAAAQDAADp
	bxoAAAAAAAgAAAAEAwAAF3AaAAAAAAAIAAAABAMAAC2JcwAAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcdZ/jqoeQIYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
	AAAACAAAAAAEAABBxzgF0oAAACQAAAABAQAANDdCMDU3OUEtRjE4Qy00NEY2LTg1NzMt
	ODg0NEQzMzFCMTNDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVk
	TmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAtAAAAAAAAAAF
	EAAAXAEAAAAAAAAQEAAAlAEAAAAAAABAEAAAhAEAAAAAAAACIAAAYAIAAAAAAAAFIAAA
	0AEAAAAAAAAQIAAA4AEAAAAAAAARIAAAFAIAAAAAAAASIAAA9AEAAAAAAAATIAAABAIA
	AAAAAAAgIAAAQAIAAAAAAAAwIAAAbAIAAAAAAAABwAAAtAEAAAAAAAARwAAAIAAAAAAA
	AAASwAAAxAEAAAAAAAAQ0AAABAAAAAAAAAB0AgCAbAIAAAAAAAA=
	</data>
	<key>/Users/derekanderson/Library/Containers/com.TechSmith.Snagit2021/Data/tmp/2025-10-30_15-56-27.png</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAJ6kaRtIrVj5B2kX1JbhjcIC8z4Tum+u54PCqhPQQlm+rAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGRlcmVrYW5kZXJzb24A
	AAAHAAAAAQEAAExpYnJhcnkACgAAAAEBAABDb250YWluZXJzAAAYAAAAAQEAAGNvbS5U
	ZWNoU21pdGguU25hZ2l0MjAyMQQAAAABAQAARGF0YQMAAAABAQAAdG1wABcAAAABAQAA
	MjAyNS0xMC0zMF8xNS01Ni0yNy5wbmcAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAXAAA
	AHwAAACIAAAAlAAAAAgAAAAEAwAAL0MAAAAAAAAIAAAABAMAAPA3BAAAAAAACAAAAAQD
	AAD3NwQAAAAAAAgAAAAEAwAAgjkEAAAAAAAIAAAABAMAAOhvGgAAAAAACAAAAAQDAADp
	bxoAAAAAAAgAAAAEAwAAF3AaAAAAAAAIAAAABAMAADSJcwAAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcdZ/jwV/80YAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
	AAAACAAAAAAEAABBxzgF0oAAACQAAAABAQAANDdCMDU3OUEtRjE4Qy00NEY2LTg1NzMt
	ODg0NEQzMzFCMTNDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVk
	TmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAtAAAAAAAAAAF
	EAAAXAEAAAAAAAAQEAAAlAEAAAAAAABAEAAAhAEAAAAAAAACIAAAYAIAAAAAAAAFIAAA
	0AEAAAAAAAAQIAAA4AEAAAAAAAARIAAAFAIAAAAAAAASIAAA9AEAAAAAAAATIAAABAIA
	AAAAAAAgIAAAQAIAAAAAAAAwIAAAbAIAAAAAAAABwAAAtAEAAAAAAAARwAAAIAAAAAAA
	AAASwAAAxAEAAAAAAAAQ0AAABAAAAAAAAAB0AgCAbAIAAAAAAAA=
	</data>
	<key>/Users/derekanderson/Library/Containers/com.TechSmith.Snagit2021/Data/tmp/2025-10-30_15-56-41.png</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAPCLIKaXeJT+veEsgiPjU06M+ShA8JXhNW2x1lvzXcxwrAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGRlcmVrYW5kZXJzb24A
	AAAHAAAAAQEAAExpYnJhcnkACgAAAAEBAABDb250YWluZXJzAAAYAAAAAQEAAGNvbS5U
	ZWNoU21pdGguU25hZ2l0MjAyMQQAAAABAQAARGF0YQMAAAABAQAAdG1wABcAAAABAQAA
	MjAyNS0xMC0zMF8xNS01Ni00MS5wbmcAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAXAAA
	AHwAAACIAAAAlAAAAAgAAAAEAwAAL0MAAAAAAAAIAAAABAMAAPA3BAAAAAAACAAAAAQD
	AAD3NwQAAAAAAAgAAAAEAwAAgjkEAAAAAAAIAAAABAMAAOhvGgAAAAAACAAAAAQDAADp
	bxoAAAAAAAgAAAAEAwAAF3AaAAAAAAAIAAAABAMAACSJcwAAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcdZ/jmpqV0YAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
	AAAACAAAAAAEAABBxzgF0oAAACQAAAABAQAANDdCMDU3OUEtRjE4Qy00NEY2LTg1NzMt
	ODg0NEQzMzFCMTNDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVk
	TmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAtAAAAAAAAAAF
	EAAAXAEAAAAAAAAQEAAAlAEAAAAAAABAEAAAhAEAAAAAAAACIAAAYAIAAAAAAAAFIAAA
	0AEAAAAAAAAQIAAA4AEAAAAAAAARIAAAFAIAAAAAAAASIAAA9AEAAAAAAAATIAAABAIA
	AAAAAAAgIAAAQAIAAAAAAAAwIAAAbAIAAAAAAAABwAAAtAEAAAAAAAARwAAAIAAAAAAA
	AAASwAAAxAEAAAAAAAAQ0AAABAAAAAAAAAB0AgCAbAIAAAAAAAA=
	</data>
	<key>/Users/derekanderson/Library/Containers/com.TechSmith.Snagit2021/Data/tmp/2025-10-30_16-07-20.png</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAAaYdu8aHkB3lhe/lhmnl2ltqZVa3Y6wnigMJ/ip0qsYrAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGRlcmVrYW5kZXJzb24A
	AAAHAAAAAQEAAExpYnJhcnkACgAAAAEBAABDb250YWluZXJzAAAYAAAAAQEAAGNvbS5U
	ZWNoU21pdGguU25hZ2l0MjAyMQQAAAABAQAARGF0YQMAAAABAQAAdG1wABcAAAABAQAA
	MjAyNS0xMC0zMF8xNi0wNy0yMC5wbmcAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAXAAA
	AHwAAACIAAAAlAAAAAgAAAAEAwAAL0MAAAAAAAAIAAAABAMAAPA3BAAAAAAACAAAAAQD
	AAD3NwQAAAAAAAgAAAAEAwAAgjkEAAAAAAAIAAAABAMAAOhvGgAAAAAACAAAAAQDAADp
	bxoAAAAAAAgAAAAEAwAAF3AaAAAAAAAIAAAABAMAAJWScwAAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcdZ/oKv7h8YAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
	AAAACAAAAAAEAABBxzgF0oAAACQAAAABAQAANDdCMDU3OUEtRjE4Qy00NEY2LTg1NzMt
	ODg0NEQzMzFCMTNDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1YXJhbnRpbmVNb3VudGVk
	TmV0d29ya1ZvbHVtZXNLZXkA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAtAAAAAAAAAAF
	EAAAXAEAAAAAAAAQEAAAlAEAAAAAAABAEAAAhAEAAAAAAAACIAAAYAIAAAAAAAAFIAAA
	0AEAAAAAAAAQIAAA4AEAAAAAAAARIAAAFAIAAAAAAAASIAAA9AEAAAAAAAATIAAABAIA
	AAAAAAAgIAAAQAIAAAAAAAAwIAAAbAIAAAAAAAABwAAAtAEAAAAAAAARwAAAIAAAAAAA
	AAASwAAAxAEAAAAAAAAQ0AAABAAAAAAAAAB0AgCAbAIAAAAAAAA=
	</data>
</dict>
</plist>
